<div class="container my-5">
  <h2 class="wishlist-title">Your Wishlist</h2>

  <p class="empty" *ngIf="!wishlist.length">
    Your wishlist is empty ✨
  </p>

  <div class="wishlist-card" *ngFor="let item of wishlist">
    <div class="wishlist-img">
      <img [src]="'http://localhost:4000/uploads/' + item.image_url" [alt]="item.name" />
    </div>

    <div class="wishlist-info">
      <h4>{{ item.name }}</h4>
      <p class="wishlist-desc">{{ item.description }}</p>
      <p class="wishlist-price">{{ item.price | currency:'INR' }}</p>

      <button class="btn-remove" (click)="remove(item.id)">
        Remove
      </button>
    </div>
  </div>
</div>
