
.top-bar {
  margin: 0; /* remove default paragraph margin */
  padding: 10px 0; /* optional spacing */
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
}

/* Header */
.main-header {
  background: #fff;
  border-bottom: 1px solid #eee;
    max-width: 100%;
  overflow-x: hidden;
}
.main-header .d-flex {
  padding: 0 20px;
}
/* Logo */
.logo {
  margin-left: 0px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 3px;
  cursor: pointer;
}

/* Nav */
.nav-menu {
  display: flex;
  gap: 25px;
  flex-wrap: nowrap;
  align-items: center;
}

.nav-link {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
   white-space: nowrap;
}
.nav-link.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none; // 🔒 cannot click
}

/* Hover + Active underline */
.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

// logout 
.logout-icon-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  
  margin-right: 0px;
  cursor: pointer;
  transition: transform 0.15s ease, opacity 0.15s ease;
  line-height: 1;
}

.logout-icon-btn:hover {
  transform: scale(1.15);
  opacity: 0.85;
}

.logout-icon-btn:active {
  transform: scale(0.95);
}






// .top-bar {

//   margin-top: 10px;
//  font-family: "Pacifico", cursive;
//   font-weight: 400;
//   font-style: normal;
//   letter-spacing: 2px;
//   word-spacing: 2px;
//   font-size: 20px;
//   color: rgba(0, 0, 0, 0.9);  /* Soft luxury white on image */
//   text-align: center;
// }
