h2 {
  font-weight: 600;
  letter-spacing: 1px;
}

p {
  color: #555;
  line-height: 1.8;
  overflow-wrap: break-word;
  word-break: break-word;
}

@media (max-width: 576px) {
  p {
    font-size: 15px;
  }
}
