/* You can add global styles to this file, and also import other style files */
app-products,
app-gallery,
app-reviews,
app-contact,
app-order-history,

app-cart,
app-product-view,
app-login,
app-signup,
app-categories,
app-subcategories,
app-product-details,
app-dashboard-shell,
app-user-dashboard {
  display: block;
  padding-top: 85px;
}
app-home,
app-wishlist {
  padding-top: 120px;
  display: block;
}

app-about-zulu,
app-checkout,
app-returns-exchange,
app-shipping-policy,
app-privacy-policy,
app-terms-conditions {
  padding-top: 120px;
  display: block;
}

@media (max-width: 992px) {
  app-products,
  app-gallery,
  app-reviews,
  app-contact,
  app-order-history,
  app-cart,
  app-product-view,
  app-login,
  app-signup,
  app-categories,
  app-subcategories,
  app-product-details,
  app-dashboard-shell,
  app-user-dashboard {
    padding-top: 80px;
  }

  app-home,
  app-wishlist,
  app-about-zulu,
  app-checkout,
  app-returns-exchange,
  app-shipping-policy,
  app-privacy-policy,
  app-terms-conditions {
    padding-top: 112px;
  }
}